<h1>
  strona dla show artykulu
</h1>

<p>
  Tytuł : <%= @article.title %>
</p>

<p>
  Opis : <%= @article.description %>
</p>

<%= link_to "edytuj", edit_article_path(@article.id) %>

<%= link_to "strona index", articles_path %>